<h1>Аккаунты</h1>
<p><%= link_to 'Добавить', new_account_path %></з>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>public_id</th>
      <th>email</th>
      <th>name</th>
      <th>role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.public_id %></td>
        <td><%= account.email %></td>
        <td><%= account.name %></td>
        <td><%= account.role %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<br />

<%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
